.lr-frame {
    padding: 1rem;
    max-width: 32rem;
}

.lr-title-container {
    background-color: white;
    padding: 0.7rem 25px;
    border-top: 6px solid mediumseagreen;
    border-radius: 6px 6px 3px 3px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.lr-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #2a2a2a;;
}

.lr-subtitle {
    margin: 0;
    color: #535353;
    font-weight: 200;
    font-size: 14px;
}

.lr-results-container {
    background-color: white;
    border-radius: 3px;
    min-height: 200px;
}

.lr-button {
    direction: ltr;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #2E2E2E;
    background-color: white;
    border: 1px lightgrey solid;
    padding: 5px;
    border-radius: 3px;
    float: right;
    margin: 15px 25px 0 0;
}

.lr-button-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2a2a2a;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 1.5px;
}

.arrow.ascending {
    transform: rotate(180deg);
}

.center-text {
    text-align: center;
}

.league-result {
    padding: 15px 25px 0;
    border-bottom: #ddd 1px solid;
}

.winner, .loser {
    border-left: 3px solid;
    border-radius: 2px;
    padding-left: 10px;
    margin: 10px 0;
    color: #2a2a2a;
}

.winner {
    border-color: #27AE5D;
}

.loser {
    border-color: #E02C19;
}
