@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font-family: 'Open Sans', sans-serif;;
    color: #2A2A2A;
  }


  .float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-wrapper {
    overflow: auto;
}

.float-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.faded {
    color: #889494;
}

.bold {
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}